# Intégration courbe de charge historique dans la bdd postgres

### récupération des données de puis l'API

In [ ]:
import os
from dotenv import load_dotenv
from app.api_client import get_consumption_load
from datetime import datetime, timedelta
import pandas as pd

# Charge les variables depuis le fichier .env
load_dotenv()

# Récupérer le token
API_TOKEN = os.getenv("API_TOKEN")
PRM = os.getenv("PRM")



start_date = "2024-12-01"

start_date_dt = datetime.strptime(start_date, "%Y-%m-%d")
end_date_dt   = start_date_dt + timedelta(days=7)
end_date = end_date_dt.strftime("%Y-%m-%d")
list_df_data = list()

while end_date_dt <= datetime.now() + timedelta(days=1):
    print(f"Récupération des données du {start_date} au {end_date}")
    data = get_consumption_load(PRM, start_date, end_date, API_TOKEN)
    start_date_dt = end_date_dt
    start_date = start_date_dt.strftime("%Y-%m-%d")
    end_date_dt   = start_date_dt + timedelta(days=7)
    end_date = end_date_dt.strftime("%Y-%m-%d")
    list_data = data['interval_reading']
    df = pd.DataFrame(list_data)
    list_df_data.append(df)

last_date = datetime.strptime(data['interval_reading'][-1]['date'], "%Y-%m-%d %H:%M:%S")

if last_date < datetime.now():
    start_date = last_date.strftime("%Y-%m-%d")
    end_date_dt   = last_date + timedelta(days=1)
    end_date = end_date_dt.strftime("%Y-%m-%d")
    data = get_consumption_load(PRM, start_date, end_date, API_TOKEN)
    list_data = data['interval_reading']
    df = pd.DataFrame(list_data)
    list_df_data.append(df)


dataconso = pd.concat(list_df_data, ignore_index=True)

# Convertir la colonne 'date' en datetime
dataconso['date'] = pd.to_datetime(dataconso['date'])

# Convertir 'value' en numérique (int ou float)
dataconso['value'] = pd.to_numeric(dataconso['value'])

# Définir l'index temporel
dataconso.set_index('date', inplace=True)

### intégration des données dans la bdd postgres

In [ ]:
import psycopg2
import pandas as pd
from psycopg2 import sql

# Connexion à PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    database="electricite",
    user="postgres",
    password="Labrax_007"
)

# Créer un curseur
cur = conn.cursor()

# Créer une table de test
cur.execute("""
CREATE TABLE IF NOT EXISTS courbecharge (
    id SERIAL PRIMARY KEY,
    timestamp TIMESTAMP,
    value FLOAT
)
""")

conn.commit() 



# Vérifie et convertis l'index si nécessaire
print("Type de l'index avant conversion :", type(dataconso.index))
dataconso.index = pd.to_datetime(dataconso.index)  # Force la conversion en DatetimeIndex
print("Type de l'index après conversion :", type(dataconso.index))

# Insertion des données
for index, row in dataconso.iterrows():
    try:
        cur.execute(
            sql.SQL("INSERT INTO courbecharge (timestamp, value) VALUES (%s, %s)"),
            (index, row['value'])
        )
    except Exception as e:
        print(f"Erreur à l'insertion de la ligne {index}: {e}")
        conn.rollback()
    else:
        conn.commit()

# Intégration des données d'un date1 à date2

In [ ]:
from sqlalchemy import create_engine
import os
import pandas as pd
from app.api_client import get_consumption_load
import psycopg2
from psycopg2 import sql

day_start = '2025-10-11'
day_end   = '2025-10-15'

DB_URL = os.getenv("DB_URL")
engine = create_engine(DB_URL)

day_start = '2025-10-11'
day_end   = '2025-10-15'
sql_string = f"SELECT timestamp, value FROM courbecharge WHERE timestamp BETWEEN '{day_start} 00:00:00'" +f"AND '{day_end}" +" 00:00:00'"
df_existante = pd.read_sql(sql_string, engine)
df_existante.index = df_existante['timestamp']

data_json = get_consumption_load(day_start, day_end)
df_new = pd.DataFrame(data_json['interval_reading'])
df_new['date'] = pd.to_datetime(df_new['date'])

# Convertir 'value' en numérique (int ou float)
df_new['value'] = pd.to_numeric(df_new['value'])

# Définir l'index temporel
df_new.set_index('date', inplace=True)


# Connexion à PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    database="electricite",
    user="postgres",
    password="Labrax_007"
)

# Créer un curseur
cur = conn.cursor()

# Insertion des données
for index, row in df_new.iterrows():
    if index not in df_existante.index:
        try:
            cur.execute(
                sql.SQL("INSERT INTO courbecharge (timestamp, value) VALUES (%s, %s)"),
                (index, row['value'])
            )
        except Exception as e:
            print(f"Erreur à l'insertion de la ligne {index}: {e}")
            conn.rollback()
        else:
            conn.commit()

# Intégration des données journalières

## Récupération des données depuis le Drive

In [70]:
# lecture des données du 2021-12-22 to 2024-12-04
import pandas as pd
import os


dir_drive = "G:\Mon Drive\Consommation logement\données élec\jour"

file_1 = "enedis.xlsx"
df_histo1 = pd.read_excel(os.path.join(dir_drive, file_1))
#df_histo1['Horodate'] = pd.to_datetime(df_histo1['Horodate'])
df_histo1['consohp'] = df_histo1['EAS F1'].shift(-1) - df_histo1['EAS F1']
df_histo1['consohc'] = df_histo1['EAS F2'].shift(-1) - df_histo1['EAS F2'] 
df_histo1['conso_kwh'] = (df_histo1['consohp']+df_histo1['consohc'])/1000.0
df_histo1['jour'] = df_histo1['Horodate'].apply(lambda x: pd.to_datetime(x[0:10]))

In [ ]:
df_histo1

In [ ]:
import glob

# Chemin du répertoire (remplace par ton chemin)
dir_drive = "G:/Mon Drive/Consommation logement/données élec/jour/"

# Liste tous les fichiers Excel commençant par "ch1"
fichiers_excel = glob.glob(f"{dir_drive}02297250326360*.xlsx*")

list_df_data = list()
# Affiche les fichiers trouvés
for fichier in fichiers_excel:
    print(fichier)
    df_partielle = pd.read_excel(fichier, skiprows=13,sheet_name='Export Consommation Quotidienne', usecols="B,C")
    list_df_data.append(df_partielle)   

df_histo2 = pd.concat(list_df_data, ignore_index=True)
df_histo2['jour'] = pd.to_datetime(df_histo2['Date'], format="%d/%m/%Y")

df_histo2.sort_values(by='jour', inplace=True)  

df_histo2.columns = ['Date', 'conso_kwh', 'jour']
df_conso_histo = pd.concat([df_histo1[['conso_kwh', 'jour']], df_histo2[['conso_kwh', 'jour']]])

## intégration dans postgres

In [82]:
df_conso_histo

     conso_kwh       jour
0       66.914 2021-12-21
1       73.260 2021-12-22
2       74.357 2021-12-23
3       67.097 2021-12-24
4       51.238 2021-12-25
..         ...        ...
311     23.000 2025-10-09
312     28.000 2025-10-10
313     35.000 2025-10-11
314     25.000 2025-10-12
315     29.000 2025-10-13

[1427 rows x 2 columns]

In [84]:
import psycopg2
import pandas as pd
from psycopg2 import sql

# Connexion à PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    database="electricite",
    user="postgres",
    password="Labrax_007"
)

# Créer un curseur
cur = conn.cursor()

# Créer une table de test
cur.execute("""
CREATE TABLE IF NOT EXISTS consojour (
    id SERIAL PRIMARY KEY,
    timestamp TIMESTAMP,
    conso_kwh FLOAT
)
""")

conn.commit() 



# Insertion des données
for index, row in df_conso_histo.iterrows():
    try:
        cur.execute(
            sql.SQL("INSERT INTO consojour (timestamp, conso_kwh) VALUES (%s, %s)"),
            (row['jour'], row['conso_kwh'])
        )
    except Exception as e:
        print(f"Erreur à l'insertion de la ligne {index}: {e}")
        conn.rollback()
    else:
        conn.commit()

Erreur à l'insertion de la ligne 1079: ERREUR:  syntaxe en entrée invalide pour le type timestamp : « NaT »
LINE 1: ...so_kwh) VALUES ('2024-12-04T00:00:00'::timestamp, 'NaT'::tim...
                                                             ^

# Integration données text

In [85]:
# lecture des données du 2021-12-22 to 2024-12-04
import pandas as pd
import os


dir_drive = "G:\Mon Drive\Consommation logement\météo"

file_m = "textd.xlsx"
df_meteo = pd.read_excel(os.path.join(dir_drive, file_m))
#
#df_histo1['jour'] = df_histo1['Horodate'].apply(lambda x: pd.to_datetime(x[0:10]))

In [90]:
df_meteo

           Date      Text
0    2021-01-01 -1.016667
1    2021-01-02 -1.058333
2    2021-01-03  1.862500
3    2021-01-04  1.816667
4    2021-01-05  1.854167
...         ...       ...
1439 2024-12-10  2.325000
1440 2024-12-11  0.629167
1441 2024-12-12  0.333333
1442 2024-12-13  0.845833
1443 2024-12-14  0.718182

[1444 rows x 2 columns]

In [92]:
import psycopg2
import pandas as pd
from psycopg2 import sql

# Connexion à PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    database="meteo",
    user="postgres",
    password="Labrax_007"
)

# Créer un curseur
cur = conn.cursor()

# Créer une table de test
cur.execute("""
CREATE TABLE IF NOT EXISTS meteojour (
    id SERIAL PRIMARY KEY,
    timestamp TIMESTAMP,
    text FLOAT
)
""")

conn.commit() 



# Insertion des données
for index, row in df_meteo.iterrows():
    try:
        cur.execute(
            sql.SQL("INSERT INTO meteojour (timestamp, text) VALUES (%s, %s)"),
            (row['Date'], row['Text'])
        )
    except Exception as e:
        print(f"Erreur à l'insertion de la ligne {index}: {e}")
        conn.rollback()
    else:
        conn.commit()